

<div class="station-select-container">
  <h2>Select a weather station to retrieve data from:</h2>
  <mat-form-field>
    <mat-select [(value)]="selectedStation" (selectionChange)="loadChart($event.value)">
      <mat-option *ngFor="let station of stations" [value]="station.value">
        {{ station.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<h2 style="text-align: center;">Tide Chart</h2>
<div *ngIf="tideChartConfig" class="chart-container">
  <canvas
    baseChart
    [data]="tideChartConfig.data"
    [type]="tideChartConfig.type"
    [options]="tideChartConfig.options">
  </canvas>
</div>