<div class="station-select-container">
  <h2>Select a weather station to retrieve data from:</h2>

  <mat-form-field appearance="outline">
    <mat-select [(value)]="selectedStation" (selectionChange)="loadChart($event.value)">
      <mat-option *ngFor="let station of stations" [value]="station.value">
        {{ station.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="dashboard-grid">

  <!-- Tide Chart -->
  <div class="grid-item full-width">
    <h2 class="section-header">Tide Chart</h2>

    <div *ngIf="tideChartConfig" class="chart-container">
      <canvas
        baseChart
        [data]="tideChartConfig.data"
        [type]="tideChartConfig.type"
        [options]="tideChartConfig.options">
      </canvas>
    </div>
  </div>

  <div class="grid-item blue">
    <h2 class="section-header">Daily High Tides</h2>
    <div *ngIf="dailyHighTides">
      <table class="weather-table">
        <thead>
          <th>Time</th>
          <th>Tide Height</th>
        </thead>
        <tbody>
          <tr *ngFor="let item  of dailyHighTides">
            <td>{{ item.t }}</td>
            <td>{{ item.v }}ft</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="section-header">Daily Low Tides</h2>
    <div *ngIf="dailyLowTides">
       <table class="weather-table">
        <thead>
          <th>Time</th>
          <th>Tide Height</th>
        </thead>
        <tbody>
          <tr *ngFor="let item  of dailyLowTides">
            <td>{{ item.t }}</td>
            <td>{{ item.v }}ft</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="grid-item green">
    <div *ngIf="hourlyWeather.length > 0" class="weather-wrapper">
      <table class="weather-table">
        <thead>
          <tr>
            <th>Hour</th>
            <th>Speed</th>
            <th>Direction</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of hourlyWeather | slice:0:24">
            <td>{{ item.hour }}</td>
            <td>{{ item.windSpeed }}</td>
            <td>{{ item.windDirection }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid-item pink">3</div>
  <div class="grid-item purple">4</div>

</div>
